.analysis .ui.header.error {
	margin: auto;
	font-size: 3.3rem;
	font-weight: 300;
	color: rgb(165, 36, 36);
	text-transform: uppercase;
	letter-spacing: 7px;
	margin-top: 2rem;
}
.analysis .ui.header.error .sub.header {
	font-size: 1.12rem;
	color: rgb(151, 151, 151);
}
