.analysis {
	box-sizing: border-box;
	width: 90%;
	margin: auto;
}
.analysis .analysis-desc {
	margin: 1rem 0 2rem;
	color: rgb(151, 151, 151);
	font-size: 0.85rem;
}
.analysis .widget {
	width: 100%;
	background: rgba(245, 245, 245, 0.555);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	padding: 1.25rem 0.55rem;
	border-radius: 8px;
	/* height: 100%; */
}
.analysis .widget--table {
	max-height: 384px;
	overflow-y: auto;
	width: 500px;
	overflow-x: auto;
}
.analysis .responsive-col {
	overflow-x: auto;
	height: 384px;
	overflow-y: hidden;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.analysis small.widget-info {
	display: block;
	margin: 0.65rem 0;
	color: rgb(151, 151, 151);
}
/* styling widget headers */
.analysis .widget .ui.header {
	font-weight: 400;
}
.analysis .ui.header.main-header {
	text-transform: uppercase;
	margin: 0;
	color: #e6a876;
	font-weight: 400;
}
/* styling for the page description */
.analysis p.desc {
	font-size: 0.85rem;
	color: #808080;
}
