.essay-content-wrapper {
	display: 'flex';
	flex-direction: 'row';
	align-content: 'left';
	width: '100%';
}
.essay-content-profile-img {
	width: '100%';
	height: '50%';
	padding: '25px';
}
.essay-content-profile-card {
	border: '1px solid #AEAEAE';
	margin: '25px';
	height: '100%';
}
