.essay-content {
	background: #f9f9f9;
}
.essay-content .wrapper {
	display: flex;
	flex-direction: row;
	/* align-content: left; */
	width: 100%;
	box-sizing: border-box;
	align-items: flex-start;
}
