/* text content form styles */
.essay-form {
	box-sizing: border-box;
	margin: 0 1rem;
}
/* essay heading form styles */
.essay-form .title {
	display: flex;
	height: auto;
	flex-wrap: wrap;
	margin: 1rem 0;
}
.essay-form small.help-blk {
	display: block;
	flex: 1;
	width: 100%;
	color: rgb(151, 151, 151);
	margin-top: 0.25rem;
	font-weight: 200;
}
.essay-form .submit-btn {
	background: #b4d4f1;
	border-radius: 4px;
	margin-left: 5px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0.75rem 1.2rem;
	transition: box-shadow 0.25s linear;
	font-size: 1.11rem;
}
.essay-form .submit-btn:hover {
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.essay-form .ui.input.input-field,
.essay-form .ui.input.input-field > input {
	flex: 1;
	transition: box-shadow 0.35s;
	box-sizing: border-box;
	border-radius: 16px;
	background: #f3f3f3;
	border: none;
	font-size: 1.14rem;
	min-width: 100%;
}
.essay-form .ui.input.input-field {
	padding: 0 !important;
}
.essay-form .ui.input.input-field > input {
	padding: 0.55rem 1.25rem 0.65rem;
}
.essay-form .ui.input.input-field > input:focus {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
/* editor section styles */
.essay-form .editor {
	margin: 1rem 0rem 2rem;
}
.essay-form .editor .ck.ck-content.ck-editor__editable {
	height: 400px;
	border-color: #f3f3f3;
	background: #f3f3f3;
	font-family: 'Lato';
	transition: box-shadow 0.35s;
}
.essay-form .editor .ck.ck-content.ck-editor__editable:focus {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.essay-form .editor .ck.ck-toolbar {
	border-color: #f3f3f3;
}
