.dashboard {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
}

.dashboard .content-wrapper {
	flex: 1;
	height: 100vh;
	overflow-y: auto;
	box-sizing: border-box;
}
.dashboard .content-wrapper .ui.header.title {
	font-weight: 200;
	font-size: 1.12rem;
	background: rgb(31, 31, 31);
	padding: 0.75rem 2.2rem;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
	word-spacing: 10px;
	position: relative;
}
.dashboard .content-wrapper .ui.header.title .sub.header {
	letter-spacing: normal;
	word-spacing: normal;
	margin-top: 0.25rem;
	letter-spacing: 3px;
}
.dashboard .content-wrapper .ui.header.title .details {
	color: #b4d4f1;
	position: absolute;
	right: 2rem;
	top: 17px;
	font-size: 0.85rem;
	letter-spacing: 2px;
}
.dashboard .content-wrapper .ui.header.title .details span {
	color: rgb(85, 85, 85);
}
.dashboard .content-wrapper .ui.header.title .page-info-icon {
	font-size: 1.11rem;
	float: right;
	margin-top: 0.2rem;
	cursor: pointer;
}
.ui.button.borderless-btn {
	background: none;
	font-weight: 300;
	text-transform: uppercase;
	color: rgb(197, 18, 18);
}
