.dashboard {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
}

.dashboard .content-wrapper {
	flex: 1;
	height: 100vh;
	overflow-y: auto;
	box-sizing: border-box;
}
.dashboard .content-wrapper .ui.header.title {
	font-weight: 200;
	font-size: 1.25rem;
	background: #b4d4f1;
	padding: 0.65rem 1rem;
	margin-bottom: 0.55rem;
}
